.logo {
    display: none;

    @media screen and (min-width: $bp-tablet) {
        display: block;
    }
}

.logo-mobile {
    display: block;

    @media screen and (min-width: $bp-tablet) {
        display: none;
    }
}